body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

.nijntje {
    background-image: url("images/nijntje_in_de_ruimte.jpg");
    border: 2px solid black;
    padding: 380px;
    background-size: cover;

}

h1 {
    position: absolute;
    left: 200px;
    color: #ffffff;
    font-size: 50px;
}

h2 {
    position: absolute;
    left: 700px;
    color: #ffffff;
    font-size: 50px;

}

h3 {
    position: absolute;
    left: 1400px;
    color: #ffffff;
    font-size: 40px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 150px;
    padding: 80px;
    font-size: 50px;
    background-color: #2B2B2B;
}

.vak a:visited {
    color: #ffffff;
    text-decoration: none;
    text-decoration-line: none;
}

.vak a:link {
    color: #ffffff;
    text-decoration: none;
    text-decoration-line: none;
}

.vak a:hover {
    color: #FF9416;
    text-decoration: none;
    text-decoration-line: none;
}