#new_password-form {
	font-size: 14px;
	background-color: #F8F8FF;
	border-radius: 5px;
  	padding: 20px;
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

input[type=text], select {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f7931a;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0;
	width: 50%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	left: 25%
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=reset]:hover {
  	background-color: #2B2B2B;
}