@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
#form
{
	position: relative;
}

#form #email
{
	width: 100%;
	background: #2B2B2B;
	outline: none;
	border: none;
	padding: 10px;
	border-radius: 6px;
	color: #f7931a;
	font-size: 18px;
}

#form .inputBox
{
	position: relative;
}

input[type=text], input[type=password]
{
	display: block;
	color: #f7931a;
	font-weight: 300;
	font-style: italic;
	padding: 5px;
}

#form.invalid .inputBox:before
{
	content: '';
	position: absolute;
	right: 12px;
	left: 9px;
	width: 24px;
	height: 24px;
	background: url(images/invalid.png);
	background-size: cover;
	z-index: 1000;
}

#form.valid .inputBox:before
{
	content: '';
	position: absolute;
	right: 12px;
	left: 9px;
	width: 24px;
	height: 24px;
	background: url(images/valid.png);
	background-size: cover;
	z-index: 1000;
}

#new_password-form {
	font-size: 14px;
	background-color: #F8F8FF;
	border-radius: 5px;
  	padding: 20px;
  	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

input[type=text], input[type=password], select {
  	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f7931a;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 20px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0;
	width: 45%;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	left: 25%
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}

input[type=submit]:hover {
  	background-color: #2B2B2B;
}

#loginSubmitButton{
	position: absolute;
	/*right: 100px;*/
	right: 1000px;
	top: 150px;

}

#loginClearButton{
	position: absolute;
	top: 250px;
	right: 1000px;

}

.passwordReset{
	font-size: larger;
	margin: 10px;
	color: dodgerblue;
	position: relative;
	left: 130px;
	bottom: 140px;
	/*top: 100px*/
}

.register{
	font-size: larger;
	margin: 10px;
	color: dodgerblue;
	position: relative;
	/*right: 12px;*/
	left: 35px;
	bottom: 130px;

	/*top: 20px*/
}

#loginInfo{
	width: 450px;
	font-size: larger;
	color: red;
	position: absolute;
	top: 90%;
	/*left: 10%;*/
	/*transform: translate(-50%, -100%);*/
	font-family: Arial;
	visibility: hidden;
	text-align: center;
}

h1{
	position: relative;
	margin: 0 0 10px;
	padding: 0;
	left: 41%;
	color: black;
	font-family: 'Poppins', sans-serif;
}