.navbar {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    justify-content: space-evenly;
}

.asset-form {
    display: flex;
    flex-flow: column nowrap;
    width: 600px;
    margin: 60px;
    font-family: Calibri, sans-serif;
    background-color: white;
}
.koers-form {
    display: flex;
    flex-flow: column nowrap;
    width: 600px;
    margin: 60px;
    bottom: 80px;
    font-family: Calibri, sans-serif;
    background-color: white;
}
.koers-form > h1, p, form, button{
    margin: 20px;
    text-align: center;
}

.asset-form > h1, p, form, button{
    margin: 20px;
    text-align: center;
}

form {
    text-align: left;
}

.asset-form > div, form {
}

.asset-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

.scroll_table, .scroll_thead, .scroll_tbody  {
    display: block;
     width: 100%;
 }

.scroll_tbody .scroll_thead, .asset_row, .scroll_tbale {
    width: 100%;       /* Just for the demo          */
 }

.scroll_tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
 }
