.link {
    display: inline-block;
    padding: 0 20px;
}

.column {
    padding: 10px;
    justify-content: center;
}

.column.middle {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 400px;
}
/* Left and right column */
.column.side {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.registration-form {
    display: flex;
    flex-flow: column nowrap;
    width: auto;
    background-color: white;
    margin: auto;
}

.registration-form > h1, p, form, button{
    margin: 20px;
    text-align: center;
}

.form-button {
    margin-top: 40px;
}

.password-meter-wrap {
    margin: 5px auto auto;
    height: 16px;
    background-color: #ddd;
    max-width: 175px;
    align-content: center;
}

.password-meter-bar {
    width: 0;
    height: 100%;
    transition: width 400ms ease-in;
}

.password-meter-bar.level0 {
    width: 20%;
    background-color: red;
}
.password-meter-bar.level1 {
    width: 40%;
    background-color: orange;
}
.password-meter-bar.level2 {
    width: 60%;
    background-color: yellow;
}
.password-meter-bar.level3 {
    width: 80%;
    background-color: yellowgreen;
}

.password-meter-bar.level4 {
    width: 100%;
    background-color: green;
}